n8n/workflows/btc-candle-ingestion.json
{
  "name": "btc-candle-ingestion",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "70af52c4-b063-47df-b434-8506d95a9cee",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.exchange.coinbase.com/products/BTC-USD/candles",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "granularity",
              "value": "60"
            },
            {
              "name": "limit",
              "value": "5"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        0
      ],
      "id": "80448d3b-88cf-4c2c-813d-d2bc28a68739",
      "name": "Fetch BTC Candles"
    },
    {
      "parameters": {
        "jsCode": "// Each input item is one candle in the format:\n// [ time, low, high, open, close, volume ]\n\nconst items = $input.all();\n\n// Extract raw candle arrays\nconst candles = items\n  .map(item => item.json)\n  .filter(c => Array.isArray(c) && typeof c[0] === 'number');\n\n// Sort ascending (oldest → newest)\ncandles.sort((a, b) => a[0] - b[0]);\n\n// Drop the most recent candle (still forming)\nconst closedCandles = candles.slice(0, -1);\n\n// Map to Sentinel Core schema\nreturn closedCandles.map(c => ({\n  json: {\n    bucket: new Date(c[0] * 1000).toISOString(),\n    open: Number(c[3]),\n    high: Number(c[2]),\n    low: Number(c[1]),\n    close: Number(c[4]),\n    volume: Number(c[5])\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "8a331c45-c28e-48b6-a784-1a36d08f8916",
      "name": "Normalize Data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO candles_1m (\n  bucket,\n  open,\n  high,\n  low,\n  close,\n  volume\n)\nVALUES (\n  '{{ $json.bucket }}',\n  {{ $json.open }},\n  {{ $json.high }},\n  {{ $json.low }},\n  {{ $json.close }},\n  {{ $json.volume }}\n)\nON CONFLICT (bucket) DO NOTHING;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        0
      ],
      "id": "49a1f603-c910-4e06-9cc8-299d6a6225ad",
      "name": "Save to DB",
      "credentials": {
        "postgres": {
          "id": "8awUhmZQ3vNQxwX8",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch BTC Candles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch BTC Candles": {
      "main": [
        [
          {
            "node": "Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Data": {
      "main": [
        [
          {
            "node": "Save to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "be7b0363-f2df-4f8d-92aa-27111f4d9b6d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9f31387cd0aba412803c4e6d9f06f9453d0ee53f553c138df5c5f0d122a8e9f7"
  },
  "id": "QKRWJTnNAW42HYMQ",
  "tags": []
}